<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<body class="gradient-background">
    <main>
        <header class="header-seller">
            <div class="logo-container">
                <img src="/images/logo.png" alt="logo">
                <div class="plaster-logo">TurnaSold Seller</div>
            </div>
            <div class="icons-seller-header">
                <a href="/seller/products" class="products-link"><i class="fa-solid fa-barcode" style="font-size: 35px;"></i></a>
            </div>
        </header>
            <body>
               <div class="sell-summary">
                   Sell Summary 
               </div> 
            </body>
    </main>
</body>
</html>
