<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/seller-home.css">
<body>
    <div class="left-sidebar">
        <a href="" class="logo">Lame Brand</a>
        <ul class="links">
            <li>a</li>
            <li>b</li>
            <li>c</li>
            <li>d</li>
            <li>e</li>
            <li>f</li>
        </ul>
    </div>
    <main class="main-content">
            <div class="header">
                     
            </div>
    </main>
</body>
</html>
