@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
/* Google Font for logo */


/* Google Font Logo Class */
.plaster-logo {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

/* Background Design */
.gradient-background {
  width: 100%;
  height: 100vh;
  /* Background Gradient */
  background-image: linear-gradient(to right, #20b2aa, #32cd32);
  position: relative;
}

.gradient-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* repeated logo */
  background-image: url("images/logo.png");
  background-repeat: repeat;
  background-size: 80px; /* Logo Size */
  background-position: 0 0;
  opacity: 0.15; /* Şeffaflık */
  mix-blend-mode: overlay;
  z-index: -1;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    background-color: white;
    border-bottom: 2px solid black;
}   

/* I specifically putted header-seller to not mix the header configurations (I think we should split css files) */
.header-seller {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid black;
}   
/* CSS cofiguration for the icon on the header in seller page */
.icons-seller-header {
    margin-right: 5px;
    margin-top: 5px;
}


.header-container {
  display: flex;
  align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 5px;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: 200px;
    height: auto;
}

.categories-container {
  width: auto;
  display: flex;
  justify-content: center;
  flex-grow: 3;
}

.categories-container h3 {
  margin: auto;
}

.profile-container {
  flex-grow: 0.3;
}

.profile-container img {
  width: 3.5em;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "discounts rightnav"
        "brands rightnav"
        "products rightnav";
    gap: 20px;
    padding: 20px;
}

.discounts-container {
    grid-area: discounts;
    min-height: 220px;
    background-color: lightblue;
    border-radius: 12px;
}

.brands-container {
    grid-area: brands;
    min-height: 100px;
    background-color: lightgreen;
    border-radius: 12px;
}

.products-container {
    grid-area: products;
    min-height: 300px;
    background-color: lightcoral;
    border-radius: 12px;
}

.right-nav {
    grid-area: rightnav;
    background-color: lightgray;
    border-radius: 12px;
    min-height: 100%;
}

body.seller {
    display: flex;

}
